[submodule "bios"]
	path = bios
	url = https://github.com/Lumaca-Official/lumaca-bios
[submodule "system/decorations"]
	path = system/decorations
	url = https://github.com/Lumaca-Official/lumaca-bezels
[submodule "system/tattoos"]
	path = system/tattoos
	url = https://github.com/Lumaca-Official/lumaca-tattoos
